 :root {

 }
 
 .body {
    font-family: 'Roboto', sans-serif;
 }
 .header-main {background-color: black;
        display: flex;
        height: 4vh;
        width:100%;
        justify-content:space-between;
        position: relative;
        }

    .menu{
        text-align: right;
        position:absolute;
        top:20%; 
        right:2%; 
    }

    .menu-icon{
        height:22%; 
        width: 12%;   
    }

    .logo-spotify{
        height: 50%; 
        width: 11%; 
        position:absolute;
        top:26%; 
        left:2%; 
        }   


    .primera-seccion{background-color: #1E74DE;
        height:50vh;
}
    .segunda-seccion{background-color: white;
       
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
}

        .segunda-seccion img{
            height:25%;
             width:25%;
             margin:0 5rem;
            
                      
}


.elemento-lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 150px;
   
}

.texto-lista {
   gap: 10px;
}
.title {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 70px;
}

.titulo-lista {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 40px;
}

.subtitulo-lista {
    font-size: 35px;
    color: gray;
}
.footer-spotify{background-color: black;
    height:10vh;
}


.legal{color:white;
    font-size: 20px;
    display: flex;
    
}

.anuncios {
    color:white;
    font-size: 20px;
}

.espana{color:white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.foto-espana {
    flex-direction: row;
  
}
