.header-main {background-color: black;
height:60px }
.logo-spotify{width:20px;
height:100px}
.primera-seccion{background-color: blue;}
.segunda-seccion{background-color: white;}
.footer-spotify{background-color: black;}

